

//Veggies
$container-color-veg: #2DCC70;
//Fruits
$container-color-fruits: #8870AC;
//Proteins
$container-color-proteins: #E74B3E;
//Carbs
$container-color-carbs: #FDD301;
//Healthy Fat
$container-color-fat: #3AB6E9;
//Nuts
$container-color-nuts: #F19B14;
